---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

		<h1>About</h1>
        <h2>and my new Astro site!</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis elit eu congue ullamcorper. Suspendisse eu porta erat, at facilisis quam. Cras non tellus ut nisl blandit scelerisque eu non enim. Phasellus quis sodales velit. Praesent feugiat eros sed nibh pellentesque, eu fringilla metus pulvinar. Aenean in mi metus. Mauris nec viverra risus, eu mollis metus. Proin ultrices ut dolor eget aliquam. Morbi eros neque, rhoncus sit amet suscipit id, tincidunt sit amet nisi. Integer porttitor velit ut nisi malesuada mattis in sed lectus. Curabitur ut ornare augue, a gravida massa. Mauris lobortis consequat nulla, et semper massa imperdiet rutrum.</p>
	</body>
</html>
